# Virtual Environments
/venv/
/env/
/ww2map/venv/

# Byte-compiled files
*.py[cod]
__pycache__/
**/__pycache__/

# SQLite database (specific path)
*.sqlite3
*.sqlite3.db
/ww2map/db.sqlite3

# VSCode config
.vscode/

# Logs and temp files
*.log
*.tmp
*.bak
*.swp
*.swo

# OS system files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Jupyter
.ipynb_checkpoints/

# Media
media/
uploads/

# dotenv
.env
.env.*

# Data folder
/data/
